#################
## Visual Studio
#################
*.suo
*.user
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
.vscode/
*.psess
*.vsp
*.vspx
publish/
*.Publish.xml
*.pubxml
**/Properties/launchSettings.json
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
Backup*/
src/packages/*
*/appsettings.*.JSON
